/* You can add global styles to this file, and also import other style files */

.mantine-List-itemLabel p {
  margin: 0;
  padding: 0;
}

.cli-layout pre code {
  background-color: transparent !important;
  padding: 0;
  border-radius: 0;
  color: inherit;
  border: 0;
}
